[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "remify"]
	path = remify
	url = https://github.com/tilburgnetworkgroup/remify
[submodule "remstats"]
	path = remstats
	url = https://github.com/tilburgnetworkgroup/remstats
[submodule "remstimate"]
	path = remstimate
	url = https://github.com/tilburgnetworkgroup/remstimate
